USE [MashicDB]
GO
/****** Object:  User [mashic_dev]    Script Date: 11/5/2026 17:52:51 ******/
CREATE USER [mashic_dev] FOR LOGIN [mashic_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [pythonconect]    Script Date: 11/5/2026 17:52:51 ******/
CREATE USER [pythonconect] FOR LOGIN [pythonconect] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [UsuarioPythonCRUD]    Script Date: 11/5/2026 17:52:51 ******/
CREATE USER [UsuarioPythonCRUD] FOR LOGIN [UsuarioPythonCRUD] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [pythonconect]
GO
ALTER ROLE [db_datareader] ADD MEMBER [UsuarioPythonCRUD]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [UsuarioPythonCRUD]
GO
/****** Object:  Schema [Core]    Script Date: 11/5/2026 17:52:51 ******/
CREATE SCHEMA [Core]
GO
/****** Object:  Schema [Finanzas]    Script Date: 11/5/2026 17:52:51 ******/
CREATE SCHEMA [Finanzas]
GO
/****** Object:  Schema [Seguridad]    Script Date: 11/5/2026 17:52:51 ******/
CREATE SCHEMA [Seguridad]
GO
/****** Object:  UserDefinedFunction [Finanzas].[fn_EsStreamValido]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- validacion stream de 30 segundos  o mas 
CREATE FUNCTION [Finanzas].[fn_EsStreamValido] (@Segundos INT)
RETURNS BIT
AS
BEGIN
    DECLARE @EsValido BIT = 0;
    IF @Segundos >= 30
        SET @EsValido = 1;
    RETURN @EsValido;
END;
GO
/****** Object:  Table [Core].[Album]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Album](
	[ID_Album] [numeric](28, 0) NOT NULL,
	[Titulo_Album] [varchar](100) NOT NULL,
	[Fecha_Lanzamiento] [date] NOT NULL,
	[Artista_ID_Artista] [numeric](28, 0) NOT NULL,
 CONSTRAINT [Album_PK] PRIMARY KEY CLUSTERED 
(
	[ID_Album] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Core].[Artista]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Artista](
	[ID_Artista] [numeric](28, 0) NOT NULL,
	[Nombre_Artistico] [varchar](150) NOT NULL,
	[Biografia] [varchar](500) NULL,
	[Estado_Visibilidad] [char](1) NOT NULL,
	[Usuario_Mashi_ID_Mashi] [numeric](28, 0) NOT NULL,
 CONSTRAINT [Artista_PK] PRIMARY KEY CLUSTERED 
(
	[ID_Artista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Core].[Cancion]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Cancion](
	[ID_Canto] [numeric](28, 0) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Ruta_Archivo] [varchar](50) NOT NULL,
	[Peso_MB] [numeric](28, 0) NOT NULL,
	[Duracion_Segundos] [numeric](28, 0) NOT NULL,
	[Album_ID_Album] [numeric](28, 0) NOT NULL,
 CONSTRAINT [Cancion_PK] PRIMARY KEY CLUSTERED 
(
	[ID_Canto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Core].[CancionGenero]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[CancionGenero](
	[Genero_ID_Genero] [numeric](28, 0) NOT NULL,
	[Cancion_ID_Canto] [numeric](28, 0) NOT NULL,
 CONSTRAINT [CancionGenero_PK] PRIMARY KEY CLUSTERED 
(
	[Genero_ID_Genero] ASC,
	[Cancion_ID_Canto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Core].[CancionPlaylist]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[CancionPlaylist](
	[Cancion_ID_Canto] [numeric](28, 0) NOT NULL,
	[Playlist_ID_Playlist] [numeric](28, 0) NOT NULL,
 CONSTRAINT [CancionPlaylist_PK] PRIMARY KEY CLUSTERED 
(
	[Cancion_ID_Canto] ASC,
	[Playlist_ID_Playlist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Core].[Genero]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Genero](
	[ID_Genero] [numeric](28, 0) NOT NULL,
	[Nombre_Genero] [varchar](100) NOT NULL,
 CONSTRAINT [Genero_PK] PRIMARY KEY CLUSTERED 
(
	[ID_Genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Core].[Likes]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Likes](
	[Usuario_Mashi_ID_Mashi] [numeric](28, 0) NOT NULL,
	[Cancion_ID_Canto] [numeric](28, 0) NOT NULL,
 CONSTRAINT [Likes_PK] PRIMARY KEY CLUSTERED 
(
	[Usuario_Mashi_ID_Mashi] ASC,
	[Cancion_ID_Canto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Core].[Notificacion_Queue]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Notificacion_Queue](
	[ID_Notificacion] [int] IDENTITY(1,1) NOT NULL,
	[Email_Destino] [varchar](150) NOT NULL,
	[Tipo_Notificacion] [varchar](50) NOT NULL,
	[Mensaje] [varchar](500) NOT NULL,
	[Fecha_Generacion] [datetime] NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Notificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Core].[Playlist]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Playlist](
	[ID_Playlist] [numeric](28, 0) NOT NULL,
	[Nombre_Playlist] [varchar](50) NOT NULL,
	[Fecha_Creacion] [datetime] NOT NULL,
	[Usuario_Mashi_ID_Mashi] [numeric](28, 0) NOT NULL,
 CONSTRAINT [Playlist_PK] PRIMARY KEY CLUSTERED 
(
	[ID_Playlist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Core].[Reproduccion]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Reproduccion](
	[ID_Stream] [numeric](28, 0) NOT NULL,
	[Fecha_Hora] [datetime] NULL,
	[Segundos_Escuchados] [numeric](28, 0) NOT NULL,
	[Cancion_ID_Canto] [numeric](28, 0) NOT NULL,
	[Usuario_Mashi_ID_Mashi] [numeric](28, 0) NOT NULL,
 CONSTRAINT [Reproduccion_PK] PRIMARY KEY CLUSTERED 
(
	[ID_Stream] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Core].[Seguidores]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Seguidores](
	[Usuario_Mashi_ID_Mashi] [numeric](28, 0) NOT NULL,
	[Artista_ID_Artista] [numeric](28, 0) NOT NULL,
 CONSTRAINT [Seguidores_PK] PRIMARY KEY CLUSTERED 
(
	[Usuario_Mashi_ID_Mashi] ASC,
	[Artista_ID_Artista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Finanzas].[Liquidacion]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Finanzas].[Liquidacion](
	[ID_Liquidacion] [numeric](28, 0) NOT NULL,
	[Mes_Anio] [varchar](70) NOT NULL,
	[Total_Streams_Validos] [numeric](28, 0) NOT NULL,
	[Monto_Generado] [numeric](28, 0) NOT NULL,
	[Estado_Pago] [varchar](20) NULL,
	[Artista_ID_Artista] [numeric](28, 0) NOT NULL,
 CONSTRAINT [Liquidacion_PK] PRIMARY KEY CLUSTERED 
(
	[ID_Liquidacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Finanzas].[Pago]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Finanzas].[Pago](
	[ID_Pago] [int] NOT NULL,
	[Monto] [numeric](28, 0) NULL,
	[Fecha_Pago] [date] NULL,
	[Metodo_Pago] [varchar](50) NULL,
	[Usuario_Mashi_ID_Mashi] [numeric](28, 0) NOT NULL,
	[Suscripcion_ID_Suscripcion] [numeric](28, 0) NOT NULL,
 CONSTRAINT [Pago_PK] PRIMARY KEY CLUSTERED 
(
	[ID_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Finanzas].[Suscripcion]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Finanzas].[Suscripcion](
	[ID_Suscripcion] [numeric](28, 0) NOT NULL,
	[Tipo_Plan] [varchar](20) NOT NULL,
	[Fecha_Inicio] [date] NOT NULL,
	[Fecha_Fin] [date] NULL,
	[Estado_Activo] [char](1) NULL,
	[Usuario_Mashi_ID_Mashi] [numeric](28, 0) NOT NULL,
 CONSTRAINT [Suscripcion_PK] PRIMARY KEY CLUSTERED 
(
	[ID_Suscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seguridad].[Perfil]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[Perfil](
	[ID_Perfil] [numeric](28, 0) NOT NULL,
	[Nombre_Perfil] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
 CONSTRAINT [Perfil_PK] PRIMARY KEY CLUSTERED 
(
	[ID_Perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seguridad].[Usuario_Mashi]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[Usuario_Mashi](
	[ID_Mashi] [numeric](28, 0) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Password] [varchar](150) NOT NULL,
	[Fecha_Nacimiento] [date] NOT NULL,
	[Fecha_Registro] [date] NOT NULL,
	[Perfil_ID_Perfil] [numeric](28, 0) NOT NULL,
 CONSTRAINT [Usuario_Mashi_PK] PRIMARY KEY CLUSTERED 
(
	[ID_Mashi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [Core].[Album] ([ID_Album], [Titulo_Album], [Fecha_Lanzamiento], [Artista_ID_Artista]) VALUES (CAST(301 AS Numeric(28, 0)), N'Un Verano Sin Ti', CAST(N'2022-05-06' AS Date), CAST(201 AS Numeric(28, 0)))
INSERT [Core].[Album] ([ID_Album], [Titulo_Album], [Fecha_Lanzamiento], [Artista_ID_Artista]) VALUES (CAST(302 AS Numeric(28, 0)), N'1989 (Taylor''s Version)', CAST(N'2023-10-27' AS Date), CAST(202 AS Numeric(28, 0)))
INSERT [Core].[Album] ([ID_Album], [Titulo_Album], [Fecha_Lanzamiento], [Artista_ID_Artista]) VALUES (CAST(303 AS Numeric(28, 0)), N'Mañana será Bonito', CAST(N'2023-02-24' AS Date), CAST(203 AS Numeric(28, 0)))
GO
INSERT [Core].[Artista] ([ID_Artista], [Nombre_Artistico], [Biografia], [Estado_Visibilidad], [Usuario_Mashi_ID_Mashi]) VALUES (CAST(201 AS Numeric(28, 0)), N'Bad Bunny', N'Artista urbano puertorriqueño, pionero del trap latino.', N'1', CAST(102 AS Numeric(28, 0)))
INSERT [Core].[Artista] ([ID_Artista], [Nombre_Artistico], [Biografia], [Estado_Visibilidad], [Usuario_Mashi_ID_Mashi]) VALUES (CAST(202 AS Numeric(28, 0)), N'Taylor Swift', N'Cantautora estadounidense ganadora de múltiples Grammys.', N'1', CAST(103 AS Numeric(28, 0)))
INSERT [Core].[Artista] ([ID_Artista], [Nombre_Artistico], [Biografia], [Estado_Visibilidad], [Usuario_Mashi_ID_Mashi]) VALUES (CAST(203 AS Numeric(28, 0)), N'Karol G', N'La líder del movimiento urbano femenino actual.', N'1', CAST(110 AS Numeric(28, 0)))
GO
INSERT [Core].[Cancion] ([ID_Canto], [Titulo], [Ruta_Archivo], [Peso_MB], [Duracion_Segundos], [Album_ID_Album]) VALUES (CAST(401 AS Numeric(28, 0)), N'Tití Me Preguntó', N'/musica/badbunny/titi.mp3', CAST(9 AS Numeric(28, 0)), CAST(243 AS Numeric(28, 0)), CAST(301 AS Numeric(28, 0)))
INSERT [Core].[Cancion] ([ID_Canto], [Titulo], [Ruta_Archivo], [Peso_MB], [Duracion_Segundos], [Album_ID_Album]) VALUES (CAST(402 AS Numeric(28, 0)), N'Ojitos Lindos', N'/musica/badbunny/ojitos.mp3', CAST(9 AS Numeric(28, 0)), CAST(258 AS Numeric(28, 0)), CAST(301 AS Numeric(28, 0)))
INSERT [Core].[Cancion] ([ID_Canto], [Titulo], [Ruta_Archivo], [Peso_MB], [Duracion_Segundos], [Album_ID_Album]) VALUES (CAST(403 AS Numeric(28, 0)), N'Blank Space', N'/musica/taylor/blankspace.mp3', CAST(8 AS Numeric(28, 0)), CAST(231 AS Numeric(28, 0)), CAST(302 AS Numeric(28, 0)))
GO
INSERT [Core].[CancionGenero] ([Genero_ID_Genero], [Cancion_ID_Canto]) VALUES (CAST(1 AS Numeric(28, 0)), CAST(401 AS Numeric(28, 0)))
INSERT [Core].[CancionGenero] ([Genero_ID_Genero], [Cancion_ID_Canto]) VALUES (CAST(1 AS Numeric(28, 0)), CAST(402 AS Numeric(28, 0)))
INSERT [Core].[CancionGenero] ([Genero_ID_Genero], [Cancion_ID_Canto]) VALUES (CAST(1 AS Numeric(28, 0)), CAST(405 AS Numeric(28, 0)))
GO
INSERT [Core].[CancionPlaylist] ([Cancion_ID_Canto], [Playlist_ID_Playlist]) VALUES (CAST(401 AS Numeric(28, 0)), CAST(502 AS Numeric(28, 0)))
INSERT [Core].[CancionPlaylist] ([Cancion_ID_Canto], [Playlist_ID_Playlist]) VALUES (CAST(402 AS Numeric(28, 0)), CAST(502 AS Numeric(28, 0)))
INSERT [Core].[CancionPlaylist] ([Cancion_ID_Canto], [Playlist_ID_Playlist]) VALUES (CAST(403 AS Numeric(28, 0)), CAST(501 AS Numeric(28, 0)))
GO
INSERT [Core].[Genero] ([ID_Genero], [Nombre_Genero]) VALUES (CAST(1 AS Numeric(28, 0)), N'Reggaeton')
INSERT [Core].[Genero] ([ID_Genero], [Nombre_Genero]) VALUES (CAST(2 AS Numeric(28, 0)), N'Pop Latino')
INSERT [Core].[Genero] ([ID_Genero], [Nombre_Genero]) VALUES (CAST(3 AS Numeric(28, 0)), N'Pop Core')
GO
INSERT [Core].[Likes] ([Usuario_Mashi_ID_Mashi], [Cancion_ID_Canto]) VALUES (CAST(104 AS Numeric(28, 0)), CAST(403 AS Numeric(28, 0)))
INSERT [Core].[Likes] ([Usuario_Mashi_ID_Mashi], [Cancion_ID_Canto]) VALUES (CAST(104 AS Numeric(28, 0)), CAST(411 AS Numeric(28, 0)))
INSERT [Core].[Likes] ([Usuario_Mashi_ID_Mashi], [Cancion_ID_Canto]) VALUES (CAST(104 AS Numeric(28, 0)), CAST(433 AS Numeric(28, 0)))
GO
SET IDENTITY_INSERT [Core].[Notificacion_Queue] ON 

INSERT [Core].[Notificacion_Queue] ([ID_Notificacion], [Email_Destino], [Tipo_Notificacion], [Mensaje], [Fecha_Generacion], [Estado]) VALUES (1, N'mateo.amigo@gmail.com', N'BIENVENIDA', N'¡Bienvenido a Mashic! Descubre el mejor talento local.', CAST(N'2026-04-27T12:55:20.997' AS DateTime), N'Pendiente')
INSERT [Core].[Notificacion_Queue] ([ID_Notificacion], [Email_Destino], [Tipo_Notificacion], [Mensaje], [Fecha_Generacion], [Estado]) VALUES (2, N'johann.vasquez@udla.edu.ec', N'BIENVENIDA', N'¡Bienvenido a Mashic! Descubre el mejor talento local.', CAST(N'2026-04-27T12:55:20.997' AS DateTime), N'Pendiente')
INSERT [Core].[Notificacion_Queue] ([ID_Notificacion], [Email_Destino], [Tipo_Notificacion], [Mensaje], [Fecha_Generacion], [Estado]) VALUES (3, N'taylorswift@republic.com', N'BIENVENIDA', N'¡Bienvenido a Mashic! Descubre el mejor talento local.', CAST(N'2026-04-27T12:55:20.997' AS DateTime), N'Pendiente')
SET IDENTITY_INSERT [Core].[Notificacion_Queue] OFF
GO
INSERT [Core].[Playlist] ([ID_Playlist], [Nombre_Playlist], [Fecha_Creacion], [Usuario_Mashi_ID_Mashi]) VALUES (CAST(501 AS Numeric(28, 0)), N'Hits para Programar', CAST(N'2026-04-27T13:51:22.567' AS DateTime), CAST(104 AS Numeric(28, 0)))
INSERT [Core].[Playlist] ([ID_Playlist], [Nombre_Playlist], [Fecha_Creacion], [Usuario_Mashi_ID_Mashi]) VALUES (CAST(502 AS Numeric(28, 0)), N'Fiesta Fin de Semestre', CAST(N'2026-04-27T13:51:22.567' AS DateTime), CAST(105 AS Numeric(28, 0)))
GO
INSERT [Core].[Reproduccion] ([ID_Stream], [Fecha_Hora], [Segundos_Escuchados], [Cancion_ID_Canto], [Usuario_Mashi_ID_Mashi]) VALUES (CAST(601 AS Numeric(28, 0)), CAST(N'2026-04-27T08:15:00.000' AS DateTime), CAST(243 AS Numeric(28, 0)), CAST(401 AS Numeric(28, 0)), CAST(105 AS Numeric(28, 0)))
INSERT [Core].[Reproduccion] ([ID_Stream], [Fecha_Hora], [Segundos_Escuchados], [Cancion_ID_Canto], [Usuario_Mashi_ID_Mashi]) VALUES (CAST(602 AS Numeric(28, 0)), CAST(N'2026-04-27T09:30:00.000' AS DateTime), CAST(231 AS Numeric(28, 0)), CAST(403 AS Numeric(28, 0)), CAST(104 AS Numeric(28, 0)))
INSERT [Core].[Reproduccion] ([ID_Stream], [Fecha_Hora], [Segundos_Escuchados], [Cancion_ID_Canto], [Usuario_Mashi_ID_Mashi]) VALUES (CAST(603 AS Numeric(28, 0)), CAST(N'2026-04-27T14:20:00.000' AS DateTime), CAST(120 AS Numeric(28, 0)), CAST(402 AS Numeric(28, 0)), CAST(104 AS Numeric(28, 0)))
GO
INSERT [Core].[Seguidores] ([Usuario_Mashi_ID_Mashi], [Artista_ID_Artista]) VALUES (CAST(104 AS Numeric(28, 0)), CAST(201 AS Numeric(28, 0)))
INSERT [Core].[Seguidores] ([Usuario_Mashi_ID_Mashi], [Artista_ID_Artista]) VALUES (CAST(104 AS Numeric(28, 0)), CAST(202 AS Numeric(28, 0)))
INSERT [Core].[Seguidores] ([Usuario_Mashi_ID_Mashi], [Artista_ID_Artista]) VALUES (CAST(104 AS Numeric(28, 0)), CAST(203 AS Numeric(28, 0)))
GO
INSERT [Finanzas].[Liquidacion] ([ID_Liquidacion], [Mes_Anio], [Total_Streams_Validos], [Monto_Generado], [Estado_Pago], [Artista_ID_Artista]) VALUES (CAST(901 AS Numeric(28, 0)), N'03-2026', CAST(1500000 AS Numeric(28, 0)), CAST(4500 AS Numeric(28, 0)), N'Pendiente', CAST(201 AS Numeric(28, 0)))
INSERT [Finanzas].[Liquidacion] ([ID_Liquidacion], [Mes_Anio], [Total_Streams_Validos], [Monto_Generado], [Estado_Pago], [Artista_ID_Artista]) VALUES (CAST(902 AS Numeric(28, 0)), N'03-2026', CAST(1200000 AS Numeric(28, 0)), CAST(3600 AS Numeric(28, 0)), N'Pagado', CAST(202 AS Numeric(28, 0)))
INSERT [Finanzas].[Liquidacion] ([ID_Liquidacion], [Mes_Anio], [Total_Streams_Validos], [Monto_Generado], [Estado_Pago], [Artista_ID_Artista]) VALUES (CAST(903 AS Numeric(28, 0)), N'04-2026', CAST(950000 AS Numeric(28, 0)), CAST(2850 AS Numeric(28, 0)), N'Pendiente', CAST(205 AS Numeric(28, 0)))
GO
INSERT [Finanzas].[Pago] ([ID_Pago], [Monto], [Fecha_Pago], [Metodo_Pago], [Usuario_Mashi_ID_Mashi], [Suscripcion_ID_Suscripcion]) VALUES (801, CAST(6 AS Numeric(28, 0)), CAST(N'2026-03-01' AS Date), N'Tarjeta Visa', CAST(104 AS Numeric(28, 0)), CAST(701 AS Numeric(28, 0)))
INSERT [Finanzas].[Pago] ([ID_Pago], [Monto], [Fecha_Pago], [Metodo_Pago], [Usuario_Mashi_ID_Mashi], [Suscripcion_ID_Suscripcion]) VALUES (802, CAST(6 AS Numeric(28, 0)), CAST(N'2026-04-01' AS Date), N'Apple Pay', CAST(112 AS Numeric(28, 0)), CAST(703 AS Numeric(28, 0)))
INSERT [Finanzas].[Pago] ([ID_Pago], [Monto], [Fecha_Pago], [Metodo_Pago], [Usuario_Mashi_ID_Mashi], [Suscripcion_ID_Suscripcion]) VALUES (803, CAST(6 AS Numeric(28, 0)), CAST(N'2026-04-15' AS Date), N'Deuna!', CAST(113 AS Numeric(28, 0)), CAST(704 AS Numeric(28, 0)))
GO
INSERT [Finanzas].[Suscripcion] ([ID_Suscripcion], [Tipo_Plan], [Fecha_Inicio], [Fecha_Fin], [Estado_Activo], [Usuario_Mashi_ID_Mashi]) VALUES (CAST(701 AS Numeric(28, 0)), N'Premium', CAST(N'2026-03-01' AS Date), CAST(N'2026-04-01' AS Date), N'1', CAST(104 AS Numeric(28, 0)))
INSERT [Finanzas].[Suscripcion] ([ID_Suscripcion], [Tipo_Plan], [Fecha_Inicio], [Fecha_Fin], [Estado_Activo], [Usuario_Mashi_ID_Mashi]) VALUES (CAST(702 AS Numeric(28, 0)), N'Free', CAST(N'2026-02-10' AS Date), NULL, N'1', CAST(105 AS Numeric(28, 0)))
INSERT [Finanzas].[Suscripcion] ([ID_Suscripcion], [Tipo_Plan], [Fecha_Inicio], [Fecha_Fin], [Estado_Activo], [Usuario_Mashi_ID_Mashi]) VALUES (CAST(703 AS Numeric(28, 0)), N'Premium', CAST(N'2026-04-01' AS Date), CAST(N'2026-05-01' AS Date), N'1', CAST(112 AS Numeric(28, 0)))
GO
INSERT [Seguridad].[Perfil] ([ID_Perfil], [Nombre_Perfil], [Descripcion]) VALUES (CAST(1 AS Numeric(28, 0)), N'Admin', N'Administrador total del sistema Mashic')
INSERT [Seguridad].[Perfil] ([ID_Perfil], [Nombre_Perfil], [Descripcion]) VALUES (CAST(2 AS Numeric(28, 0)), N'Artista', N'Creador de contenido musical')
INSERT [Seguridad].[Perfil] ([ID_Perfil], [Nombre_Perfil], [Descripcion]) VALUES (CAST(3 AS Numeric(28, 0)), N'Oyente', N'Usuario consumidor de música')
GO
INSERT [Seguridad].[Usuario_Mashi] ([ID_Mashi], [Email], [Password], [Fecha_Nacimiento], [Fecha_Registro], [Perfil_ID_Perfil]) VALUES (CAST(101 AS Numeric(28, 0)), N'admin@mashic.com', N'hash_admin123', CAST(N'1995-05-20' AS Date), CAST(N'2026-01-01' AS Date), CAST(1 AS Numeric(28, 0)))
INSERT [Seguridad].[Usuario_Mashi] ([ID_Mashi], [Email], [Password], [Fecha_Nacimiento], [Fecha_Registro], [Perfil_ID_Perfil]) VALUES (CAST(102 AS Numeric(28, 0)), N'badbunny@rimas.com', N'hash_benito', CAST(N'1994-03-10' AS Date), CAST(N'2026-01-15' AS Date), CAST(2 AS Numeric(28, 0)))
INSERT [Seguridad].[Usuario_Mashi] ([ID_Mashi], [Email], [Password], [Fecha_Nacimiento], [Fecha_Registro], [Perfil_ID_Perfil]) VALUES (CAST(103 AS Numeric(28, 0)), N'taylorswift@republic.com', N'hash_taylor', CAST(N'1989-12-13' AS Date), CAST(N'2026-01-16' AS Date), CAST(2 AS Numeric(28, 0)))
GO
/****** Object:  Index [Artista__IDX]    Script Date: 11/5/2026 17:52:51 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Artista__IDX] ON [Core].[Artista]
(
	[Usuario_Mashi_ID_Mashi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Cancion_Titulo]    Script Date: 11/5/2026 17:52:51 ******/
CREATE NONCLUSTERED INDEX [IDX_Cancion_Titulo] ON [Core].[Cancion]
(
	[Titulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Usuario_Email]    Script Date: 11/5/2026 17:52:51 ******/
CREATE NONCLUSTERED INDEX [IDX_Usuario_Email] ON [Seguridad].[Usuario_Mashi]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Core].[Artista] ADD  DEFAULT ('0') FOR [Estado_Visibilidad]
GO
ALTER TABLE [Core].[Notificacion_Queue] ADD  DEFAULT (getdate()) FOR [Fecha_Generacion]
GO
ALTER TABLE [Core].[Notificacion_Queue] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [Finanzas].[Liquidacion] ADD  DEFAULT ('Pagado') FOR [Estado_Pago]
GO
ALTER TABLE [Finanzas].[Suscripcion] ADD  DEFAULT ('Free') FOR [Tipo_Plan]
GO
ALTER TABLE [Finanzas].[Suscripcion] ADD  DEFAULT ('1') FOR [Estado_Activo]
GO
ALTER TABLE [Seguridad].[Perfil] ADD  DEFAULT ('Oyente') FOR [Nombre_Perfil]
GO
ALTER TABLE [Core].[Album]  WITH CHECK ADD  CONSTRAINT [Album_Artista_FK] FOREIGN KEY([Artista_ID_Artista])
REFERENCES [Core].[Artista] ([ID_Artista])
GO
ALTER TABLE [Core].[Album] CHECK CONSTRAINT [Album_Artista_FK]
GO
ALTER TABLE [Core].[Artista]  WITH CHECK ADD  CONSTRAINT [Artista_Usuario_Mashi_FK] FOREIGN KEY([Usuario_Mashi_ID_Mashi])
REFERENCES [Seguridad].[Usuario_Mashi] ([ID_Mashi])
GO
ALTER TABLE [Core].[Artista] CHECK CONSTRAINT [Artista_Usuario_Mashi_FK]
GO
ALTER TABLE [Core].[Cancion]  WITH CHECK ADD  CONSTRAINT [Cancion_Album_FK] FOREIGN KEY([Album_ID_Album])
REFERENCES [Core].[Album] ([ID_Album])
GO
ALTER TABLE [Core].[Cancion] CHECK CONSTRAINT [Cancion_Album_FK]
GO
ALTER TABLE [Core].[CancionGenero]  WITH CHECK ADD  CONSTRAINT [CancionGenero_Cancion_FK] FOREIGN KEY([Cancion_ID_Canto])
REFERENCES [Core].[Cancion] ([ID_Canto])
GO
ALTER TABLE [Core].[CancionGenero] CHECK CONSTRAINT [CancionGenero_Cancion_FK]
GO
ALTER TABLE [Core].[CancionGenero]  WITH CHECK ADD  CONSTRAINT [CancionGenero_Genero_FK] FOREIGN KEY([Genero_ID_Genero])
REFERENCES [Core].[Genero] ([ID_Genero])
GO
ALTER TABLE [Core].[CancionGenero] CHECK CONSTRAINT [CancionGenero_Genero_FK]
GO
ALTER TABLE [Core].[CancionPlaylist]  WITH CHECK ADD  CONSTRAINT [CancionPlaylist_Cancion_FK] FOREIGN KEY([Cancion_ID_Canto])
REFERENCES [Core].[Cancion] ([ID_Canto])
GO
ALTER TABLE [Core].[CancionPlaylist] CHECK CONSTRAINT [CancionPlaylist_Cancion_FK]
GO
ALTER TABLE [Core].[CancionPlaylist]  WITH CHECK ADD  CONSTRAINT [CancionPlaylist_Playlist_FK] FOREIGN KEY([Playlist_ID_Playlist])
REFERENCES [Core].[Playlist] ([ID_Playlist])
GO
ALTER TABLE [Core].[CancionPlaylist] CHECK CONSTRAINT [CancionPlaylist_Playlist_FK]
GO
ALTER TABLE [Core].[Likes]  WITH CHECK ADD  CONSTRAINT [Likes_Cancion_FK] FOREIGN KEY([Cancion_ID_Canto])
REFERENCES [Core].[Cancion] ([ID_Canto])
GO
ALTER TABLE [Core].[Likes] CHECK CONSTRAINT [Likes_Cancion_FK]
GO
ALTER TABLE [Core].[Likes]  WITH CHECK ADD  CONSTRAINT [Likes_Usuario_Mashi_FK] FOREIGN KEY([Usuario_Mashi_ID_Mashi])
REFERENCES [Seguridad].[Usuario_Mashi] ([ID_Mashi])
GO
ALTER TABLE [Core].[Likes] CHECK CONSTRAINT [Likes_Usuario_Mashi_FK]
GO
ALTER TABLE [Core].[Playlist]  WITH CHECK ADD  CONSTRAINT [Playlist_Usuario_Mashi_FK] FOREIGN KEY([Usuario_Mashi_ID_Mashi])
REFERENCES [Seguridad].[Usuario_Mashi] ([ID_Mashi])
GO
ALTER TABLE [Core].[Playlist] CHECK CONSTRAINT [Playlist_Usuario_Mashi_FK]
GO
ALTER TABLE [Core].[Reproduccion]  WITH CHECK ADD  CONSTRAINT [Reproduccion_Cancion_FK] FOREIGN KEY([Cancion_ID_Canto])
REFERENCES [Core].[Cancion] ([ID_Canto])
GO
ALTER TABLE [Core].[Reproduccion] CHECK CONSTRAINT [Reproduccion_Cancion_FK]
GO
ALTER TABLE [Core].[Reproduccion]  WITH CHECK ADD  CONSTRAINT [Reproduccion_Usuario_Mashi_FK] FOREIGN KEY([Usuario_Mashi_ID_Mashi])
REFERENCES [Seguridad].[Usuario_Mashi] ([ID_Mashi])
GO
ALTER TABLE [Core].[Reproduccion] CHECK CONSTRAINT [Reproduccion_Usuario_Mashi_FK]
GO
ALTER TABLE [Core].[Seguidores]  WITH CHECK ADD  CONSTRAINT [Seguidores_Artista_FK] FOREIGN KEY([Artista_ID_Artista])
REFERENCES [Core].[Artista] ([ID_Artista])
GO
ALTER TABLE [Core].[Seguidores] CHECK CONSTRAINT [Seguidores_Artista_FK]
GO
ALTER TABLE [Core].[Seguidores]  WITH CHECK ADD  CONSTRAINT [Seguidores_Usuario_Mashi_FK] FOREIGN KEY([Usuario_Mashi_ID_Mashi])
REFERENCES [Seguridad].[Usuario_Mashi] ([ID_Mashi])
GO
ALTER TABLE [Core].[Seguidores] CHECK CONSTRAINT [Seguidores_Usuario_Mashi_FK]
GO
ALTER TABLE [Finanzas].[Liquidacion]  WITH CHECK ADD  CONSTRAINT [Liquidacion_Artista_FK] FOREIGN KEY([Artista_ID_Artista])
REFERENCES [Core].[Artista] ([ID_Artista])
GO
ALTER TABLE [Finanzas].[Liquidacion] CHECK CONSTRAINT [Liquidacion_Artista_FK]
GO
ALTER TABLE [Finanzas].[Pago]  WITH CHECK ADD  CONSTRAINT [Pago_Suscripcion_FK] FOREIGN KEY([Suscripcion_ID_Suscripcion])
REFERENCES [Finanzas].[Suscripcion] ([ID_Suscripcion])
GO
ALTER TABLE [Finanzas].[Pago] CHECK CONSTRAINT [Pago_Suscripcion_FK]
GO
ALTER TABLE [Finanzas].[Pago]  WITH CHECK ADD  CONSTRAINT [Pago_Usuario_Mashi_FK] FOREIGN KEY([Usuario_Mashi_ID_Mashi])
REFERENCES [Seguridad].[Usuario_Mashi] ([ID_Mashi])
GO
ALTER TABLE [Finanzas].[Pago] CHECK CONSTRAINT [Pago_Usuario_Mashi_FK]
GO
ALTER TABLE [Finanzas].[Suscripcion]  WITH CHECK ADD  CONSTRAINT [Suscripcion_Usuario_Mashi_FK] FOREIGN KEY([Usuario_Mashi_ID_Mashi])
REFERENCES [Seguridad].[Usuario_Mashi] ([ID_Mashi])
GO
ALTER TABLE [Finanzas].[Suscripcion] CHECK CONSTRAINT [Suscripcion_Usuario_Mashi_FK]
GO
ALTER TABLE [Seguridad].[Usuario_Mashi]  WITH CHECK ADD  CONSTRAINT [Usuario_Mashi_Perfil_FK] FOREIGN KEY([Perfil_ID_Perfil])
REFERENCES [Seguridad].[Perfil] ([ID_Perfil])
GO
ALTER TABLE [Seguridad].[Usuario_Mashi] CHECK CONSTRAINT [Usuario_Mashi_Perfil_FK]
GO
ALTER TABLE [Core].[Artista]  WITH CHECK ADD  CONSTRAINT [EstadoVisibilidad] CHECK  (([Estado_Visibilidad]='1' OR [Estado_Visibilidad]='0'))
GO
ALTER TABLE [Core].[Artista] CHECK CONSTRAINT [EstadoVisibilidad]
GO
ALTER TABLE [Core].[Cancion]  WITH CHECK ADD  CONSTRAINT [RangoMb] CHECK  (([Peso_MB]>=(0) AND [Peso_MB]<=(20)))
GO
ALTER TABLE [Core].[Cancion] CHECK CONSTRAINT [RangoMb]
GO
ALTER TABLE [Finanzas].[Liquidacion]  WITH CHECK ADD  CONSTRAINT [EstdadoPago] CHECK  (([Estado_Pago]='Pendiente' OR [Estado_Pago]='Pagado'))
GO
ALTER TABLE [Finanzas].[Liquidacion] CHECK CONSTRAINT [EstdadoPago]
GO
ALTER TABLE [Finanzas].[Suscripcion]  WITH CHECK ADD  CONSTRAINT [estaadoSuscripcion] CHECK  (([Estado_Activo]='1' OR [Estado_Activo]='0'))
GO
ALTER TABLE [Finanzas].[Suscripcion] CHECK CONSTRAINT [estaadoSuscripcion]
GO
ALTER TABLE [Finanzas].[Suscripcion]  WITH CHECK ADD  CONSTRAINT [TipoPlan] CHECK  (([Tipo_Plan]='Premium' OR [Tipo_Plan]='Free'))
GO
ALTER TABLE [Finanzas].[Suscripcion] CHECK CONSTRAINT [TipoPlan]
GO
ALTER TABLE [Seguridad].[Perfil]  WITH CHECK ADD  CONSTRAINT [TipoPerfil] CHECK  (([Nombre_Perfil]='Oyente' OR [Nombre_Perfil]='Artista' OR [Nombre_Perfil]='Admin'))
GO
ALTER TABLE [Seguridad].[Perfil] CHECK CONSTRAINT [TipoPerfil]
GO
/****** Object:  StoredProcedure [Core].[sp_ActualizarCancion]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. UPDATE: Actualizar datos de la canción
CREATE   PROCEDURE [Core].[sp_ActualizarCancion]
    @l_ID_Canto NUMERIC(28),
    @l_NuevoTitulo VARCHAR(50),
    @l_NuevaDuracion NUMERIC(28)
AS
BEGIN
    SET NOCOUNT ON;
    -- ERROR CORREGIDO: Core.Core.Cancion cambiado a Core.Cancion
    UPDATE Core.Cancion 
    SET Titulo = @l_NuevoTitulo, 
        Duracion_Segundos = @l_NuevaDuracion
    WHERE ID_Canto = @l_ID_Canto;
END;
GO
/****** Object:  StoredProcedure [Core].[sp_ConsultarCanciones]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. READ: Consultar la biblioteca
CREATE   PROCEDURE [Core].[sp_ConsultarCanciones]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        C.ID_Canto, 
        C.Titulo, 
        A.Titulo_Album, 
        C.Duracion_Segundos 
    FROM Core.Cancion C
    INNER JOIN Core.Album A ON C.Album_ID_Album = A.ID_Album;
END;
GO
/****** Object:  StoredProcedure [Core].[sp_EliminarCancion]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. DELETE: Eliminar canción
CREATE   PROCEDURE [Core].[sp_EliminarCancion]
    @l_ID_Canto NUMERIC(28)
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM Core.Cancion WHERE ID_Canto = @l_ID_Canto;
END;
GO
/****** Object:  StoredProcedure [Core].[sp_InsertarCancion]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. CREATE: Insertar una nueva canción
CREATE   PROCEDURE [Core].[sp_InsertarCancion] -- Usamos CREATE OR ALTER por si ya existe
    @l_ID_Canto NUMERIC(28),
    @l_Titulo VARCHAR(50),
    @l_Ruta VARCHAR(50),
    @l_Peso NUMERIC(28),
    @l_Duracion NUMERIC(28),
    @l_ID_Album NUMERIC(28)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Core.Cancion (ID_Canto, Titulo, Ruta_Archivo, Peso_MB, Duracion_Segundos, Album_ID_Album)
    -- ERROR CORREGIDO: @l_l_Titulo cambiado a @l_Titulo
    VALUES (@l_ID_Canto, @l_Titulo, @l_Ruta, @l_Peso, @l_Duracion, @l_ID_Album);
END;
GO
/****** Object:  StoredProcedure [Core].[sp_Reporte_MiBiblioteca]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Core].[sp_Reporte_MiBiblioteca]
    @ID_Mashi NUMERIC(28,0)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 1. sus playlists (con DISTINCT para evitar duplicados)
    SELECT DISTINCT p.Nombre_Playlist, p.Fecha_Creacion 
    FROM Core.Playlist p
    JOIN Core.CancionPlaylist cp ON p.ID_Playlist = cp.Playlist_ID_Playlist
    WHERE cp.Cancion_ID_Canto IN (
        SELECT Cancion_ID_Canto 
        FROM Core.Reproduccion 
        WHERE Usuario_Mashi_ID_Mashi = @ID_Mashi
    );
    
    -- 2. canciones con "Me Gusta"
    SELECT c.Titulo, c.Duracion_Segundos 
    FROM Core.Likes l
    JOIN Core.Cancion c ON l.Cancion_ID_Canto = c.ID_Canto
    WHERE l.Usuario_Mashi_ID_Mashi = @ID_Mashi;

    -- 3. artistas seguidos
    SELECT a.Nombre_Artistico 
    FROM Core.Seguidores s
    JOIN Core.Artista a ON s.Artista_ID_Artista = a.ID_Artista
    WHERE s.Usuario_Mashi_ID_Mashi = @ID_Mashi;
END;
GO
/****** Object:  StoredProcedure [Core].[sp_Reporte_RendimientoCatalogo]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. RENDIMIENTO DE CATALOGO (ARTISTA) 
CREATE PROCEDURE [Core].[sp_Reporte_RendimientoCatalogo]
    @ID_Artista NUMERIC(28,0),
    @FechaInicio DATE,
    @FechaFin DATE
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        al.Titulo_Album,
        c.Titulo AS Cancion,
        COUNT(r.ID_Stream) AS Numero_Reproducciones
    FROM Core.Reproduccion r
    JOIN Core.Cancion c ON r.Cancion_ID_Canto = c.ID_Canto -- C ES CANCION PORSIA
    JOIN Core.Album al ON c.Album_ID_Album = al.ID_Album -- AL S EL ALBUM
    WHERE al.Artista_ID_Artista = @ID_Artista
      AND CAST(r.Fecha_Hora AS DATE) BETWEEN @FechaInicio AND @FechaFin
    GROUP BY al.Titulo_Album, c.Titulo
    ORDER BY al.Titulo_Album, Numero_Reproducciones DESC;
END;
GO
/****** Object:  StoredProcedure [Finanzas].[sp_CalcularLiquidacionMensual]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento Almacenado con Cursor: calcula liquidacion mensual de los artistas

CREATE PROCEDURE [Finanzas].[sp_CalcularLiquidacionMensual]
    @MesAnio VARCHAR(70), -- Ej: '04-2026'
    @TarifaPorStream DECIMAL(10,4) = 0.005 -- Lo que pagan por cada reproducción válida
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @ID_Artista NUMERIC(28,0);
        DECLARE @TotalStreams INT;
        DECLARE @MontoGenerado NUMERIC(18,2);

        -- Cursor para obtener todos los artistas visibles
        DECLARE cur_Artistas CURSOR FOR 
        SELECT ID_Artista FROM Core.Artista WHERE Estado_Visibilidad = '1';

        OPEN cur_Artistas;
        FETCH NEXT FROM cur_Artistas INTO @ID_Artista;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Calcular streams válidos del artista en el mes
            SELECT @TotalStreams = COUNT(r.ID_Stream)
            FROM Core.Reproduccion r
            JOIN Core.Cancion c ON r.Cancion_ID_Canto = c.ID_Canto
            JOIN Core.Album al ON c.Album_ID_Album = al.ID_Album
            WHERE al.Artista_ID_Artista = @ID_Artista
              AND FORMAT(r.Fecha_Hora, 'MM-yyyy') = @MesAnio
              AND Finanzas.fn_EsStreamValido(r.Segundos_Escuchados) = 1;

            -- Generar registro de liquidación si hay streams
            IF @TotalStreams > 0
            BEGIN
                SET @MontoGenerado = @TotalStreams * @TarifaPorStream;

                INSERT INTO Finanzas.Liquidacion 
                (ID_Liquidacion, Mes_Anio, Total_Streams_Validos, Monto_Generado, Estado_Pago, Artista_ID_Artista)
                VALUES 
                (ABS(CHECKSUM(NEWID())), @MesAnio, @TotalStreams, @MontoGenerado, 'Pendiente', @ID_Artista);
            END

            FETCH NEXT FROM cur_Artistas INTO @ID_Artista;
        END

        CLOSE cur_Artistas;
        DEALLOCATE cur_Artistas;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW; -- Muestra el error exacto si el profesor intenta romperlo
    END CATCH
END;
GO
/****** Object:  StoredProcedure [Finanzas].[sp_Reporte_BalanceArtista]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Finanzas].[sp_Reporte_BalanceArtista]
    @ID_Artista NUMERIC(28,0)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        Mes_Anio, 
        Total_Streams_Validos, 
        Monto_Generado, 
        Estado_Pago
    FROM Finanzas.Liquidacion
    WHERE Artista_ID_Artista = @ID_Artista
    ORDER BY Mes_Anio DESC;
END;
GO
/****** Object:  StoredProcedure [Finanzas].[sp_Reporte_Suscripciones]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. REPORTE DE SUBSCRIPCIONES (ADMIN)
CREATE PROCEDURE [Finanzas].[sp_Reporte_Suscripciones]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        Tipo_Plan, 
        COUNT(ID_Suscripcion) AS Cantidad_Usuarios
    FROM Finanzas.Suscripcion
    WHERE Estado_Activo = '1'
    GROUP BY Tipo_Plan;
END;
GO
/****** Object:  Trigger [Seguridad].[TRG_Usuario_Bienvenida]    Script Date: 11/5/2026 17:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------- TRIGGERS Y FUNCIONES --------
-- Trigger Python correo bienvenia nuevo usuario
CREATE TRIGGER [Seguridad].[TRG_Usuario_Bienvenida]
ON [Seguridad].[Usuario_Mashi]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Core.Notificacion_Queue (Email_Destino, Tipo_Notificacion, Mensaje)
    SELECT 
        i.Email, 
        'BIENVENIDA', 
        '¡Bienvenido a Mashic! Descubre el mejor talento local.'
    FROM inserted i;
END;
GO
ALTER TABLE [Seguridad].[Usuario_Mashi] ENABLE TRIGGER [TRG_Usuario_Bienvenida]
GO
